html {
  font-family: 'Times New Roman', Times, sans-serif;
  background-color: hsl(40 100% 90%);
}

#header,
.section-title {
  background-color: hsl(40 100% 95%);
  border: 0.1em solid black;
  border-left: 0px;
  border-right: 0px;
}

#header {
  font-size: 2rem;
  text-align: center;
  /*background-color: hsl(40 100% 95%);*/
}

.section-title {
  font-size: 1.4rem;
  padding-left: 1rem;
}

li {
  margin: 1em;
}

.recipe:hover {
  font-weight: bold;
}

img.dish-preview {
  display: block;
  width: 50vw;
  height: auto;
  margin: auto;
}

button {
  background-color: hsl(0 100% 0%);
  border: 0 solid;
  border-radius: 0.5rem;
  padding: 0.4rem;
}

button > * {
  color: hsl(0 100% 100%);
  text-decoration: none;
}

button > *:hover {
  color: orange;
  text-decoration: underline;
}

button.return-top {
  position: fixed;
  inset: auto 0.4rem 0.4rem auto;
}
